<h2>Login</h2>
<div class="container">
    <div>
       <label for="email">Email Address</label> 
       <input type="email" class="form-control">
    </div>
    <br>
    <div>
        <label for="password">Password</label>
        <input type="text" class="form-control">
    </div>
    <br>
    <button class="btn btn-success btn-md">Login</button><br>
    If your not a member please sign up here <span><button> <a routerLink='/signup' routerLinkActive='active'>Sign Up</a></button></span>
</div>
