<h2>Sign Up</h2>
<div class="container">
    <form action="">
        <div>
            <label for="username">User Name:</label>
            <input type="text" name="username" class="form-control">
        </div>
        <br>
        <div>
            <label for="email">Email Adress:</label>
            <input type="email" name="adress" class="form-control">
        </div>
        <br>
        <div>
            <label for="password">Password:</label>
            <input type="text" name="password" class="form-control">
        </div>
        <br>
        <div>
            <label for="confirm">Confirm Password:</label>
            <input type="text" class="form-control">
        </div>
        <br>
        <button type="submit" class="btn btn-success btn-md">Submit</button><br>
        Already have an account login. <span><button>    <a routerLink='/login' routerLinkActive='active'>Login</a></button></span>
    </form>
</div>
